{
    email {$CADDY_ACME_EMAIL}
}

fildah.com {
    redir https://www.fildah.com{uri} permanent
}

www.fildah.com {
    encode zstd gzip
    reverse_proxy fildah-web:80
}

rxchat.fildah.com {
    encode zstd gzip
    reverse_proxy rxchat-web:80
}

api.fildah.com {
    encode zstd gzip
    redir / /admin/
    reverse_proxy api:8000 {
        flush_interval -1
        header_up X-Forwarded-Proto {scheme}
        header_up X-Forwarded-Host {host}
    }
}

qdrant.fildah.com {
    encode zstd gzip
    redir / /dashboard/
    reverse_proxy qdrant:6333
}
